.service-block{
    display: block;
    border-style: solid;
    border-width: .1em;
    border-color: lightgrey;
    font-family: sans-serif;
    color: #A0A0A0;
    height: 52em;
}

.service-block h3{
    font-family: inherit;
}
.service-block .info{
    padding: 3em; text-align: center
}
.service-block .description-container{
    height: 10em;
}
.service-block .description{

}

.service-block .info-break{
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    padding: 1em 0 2em 0;
    margin-bottom: 2em;
}

.service-block .button{
    display: block;
    margin: auto;
    margin-top: 3em;

}